    <table cellspacing="0" cellpadding="5" border="0" width="100%">
    
      <tr>
      <td align="center">
    
    <!-- Go, go Bottom Navigation! -->
    <p class="smallnav"><a class="smallnav" href="{{ "privacy.html" | relative_url }}" onMouseOver="return showStatus('Privacy');" onMouseOut="return showStatus('');" target="_blank" title="Privacy">Privacy</a> :: <a class="smallnav" href="{{ "safety.html" | relative_url }}" onMouseOver="return showStatus('Web Safety');" onMouseOut="return showStatus('');" target="_blank" title="Web Safety">Web Safety</a> :: <a class="smallnav" href="{{ "terms.html" | relative_url }}" onMouseOver="return showStatus('Terms');" onMouseOut="return showStatus('');" target="_blank" title="Terms">Terms</a><br>&copy;HUDSON SOFT/TAKARA &middot; BEYBLADE PROJECT &middot; TV TOKYO</p>
    <!-- No, no Bottom Navigation! -->
    
      </td>
      </tr>
    
    </table>

