<table cellspacing="0" cellpadding="0" border="0" width="181">




    <tr><td><img src="chrome/gadget-top.gif" width="181" height="15"></td></tr>
    <tr><td align="center" valign="middle" background="chrome/gadget-back.gif">
  
  <table cellspacing="0" cellpadding="0" border="0" width="181">
  
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="5"></td></tr>
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="5"></td></tr>
    <tr><td align="center" valign="top">
  <OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"  WIDTH="140" HEIGHT="141" id="Nav bar2" ALIGN="">
  <PARAM NAME=movie VALUE="sponsors/hasbro/140_beyblades_a.swf"> 
  <PARAM NAME=quality VALUE=high> 
  <PARAM NAME=bgcolor VALUE=#ffffff>
  <EMBED src="sponsors/hasbro/140_beyblades_a.swf" quality=high bgcolor=#000000 WIDTH="140" HEIGHT="141" NAME="nav" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED>
  </OBJECT><br>
  <a href="clickthrough_temp.html?name=Hasbro&target=http://www.hasbro.com/beyblade">Click Here!</a>
    </td></tr>
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="5"></td></tr>
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="15"></td></tr>
  
  </table>
  
    <tr><td><img src="chrome/gadget-bottom.gif" width="181" height="15"></td></tr>
  
  
  
    <tr><td><img src="chrome/gadget-top.gif" width="181" height="15"></td></tr>
    <tr><td align="center" valign="middle" background="chrome/gadget-back.gif">
  
  <table cellspacing="0" cellpadding="0" border="0" width="181">
  
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="15"></td></tr>
    <tr><td align="center" valign="top"><a href="clickthrough.html?name=LET IT RIP Vol.1&target=http://www.sonymusic.ca/artists/Beyblade/" onMouseOver="return showStatus('LET IT RIP Vol.1');" onMouseOut="return showStatus('');" target="_blank" title="LET IT RIP Vol.1"><img border="0" src="images/sponsor/let_it_rip_vol_1.jpg"></a></td></tr>
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="5"></td></tr>
    <tr><td align="center" valign="top"><p class="center"><a href="clickthrough.html?name=LET IT RIP Vol.1&target=http://www.sonymusic.ca/artists/Beyblade/" onMouseOver="return showStatus('LET IT RIP Vol.1');" onMouseOut="return showStatus('');" target="_blank" title="LET IT RIP Vol.1">LET IT RIP Vol.1</a></p></td></tr>
    <tr><td align="center" valign="middle"><img src="common/spacer.gif" width="40" height="15"></td></tr>
  
  </table>
  
    <tr><td><img src="chrome/gadget-bottom.gif" width="181" height="15"></td></tr>
  
  
  
  <!-- Go, go Video Clip Gadget! -->
    <tr><td align="center" valign="middle">
  
  <table cellspacing="0" cellpadding="0" border="0" width="181">
  
    <tr><td><img src="chrome/gadget-top.gif" width="181" height="15"></td></tr>
    <tr><td align="center" valign="middle" background="chrome/gadget-back.gif"><img src="common/spacer.gif" width="40" height="15"></td></tr>
    <tr><td align="center" valign="middle" background="images/video/video-back.gif">
  
    </td></tr>
    <tr><td align="center" valign="middle" background="chrome/gadget-back.gif"><img src="common/spacer.gif" width="40" height="15"></td></tr>
    <tr><td align="center" valign="middle">
  
  <script language="Javascript1.2">
  <!--
  if (document.layers) {
    document.write("<img src=\"chrome/gadget-bottom.gif\" width=\"181\" height=\"15\">");
  }
  
  else if (document.all) {
    document.write("<input type=\"image\" src=\"chrome/gadget-video-play.gif\" width=\"181\" height=\"41\" name=\"BtnPlay\" onClick=\"videoPlay()\" border=\"0\">");
  }
  
  else if (!(document.layers) || !(document.all)) {
    document.write("<img src=\"chrome/gadget-bottom.gif\" width=\"181\" height=\"15\">");
  }
  // -->
  </script>
  <!-- Go, go Weird on Wheels -->
  <table cellspacing="0" cellpadding="0" border="0" width="181">
  <tr>
    <td><a href="http://www.weirdonwheels.com" target="_blank"><img src="images/logo-wow.gif" width="181" height="157" alt="Weird On Wheels" border="0"></a></td>
  </tr>
  </table>
  
  <!-- No, no Weird on Wheels -->
  
    </td></tr>
  
  </table>
  <!-- No, no Video Clip Gadget! -->
  
    </td></tr>
  
  </table>