<table cellspacing="0" cellpadding="0" border="0" width="181">

	<tr><td><img src="{{ "chrome/gadget-top.gif" | relative_url }}" width="181" height="15"></td></tr>
	<tr><td align="center" valign="middle" background="{{ "chrome/gadget-back.gif" | relative_url }}"><img src="{{ "common/spacer.gif" | relative_url }}" width="40" height="15"></td></tr>
	<tr><td align="center" valign="middle" background="{{ "chrome/gadget-back.gif" | relative_url }}"><img src="{{ "images/gadgets/an101.gif" | relative_url }}"></td></tr>
	<tr><td align="center" valign="middle" background="{{ "chrome/gadget-back.gif" | relative_url }}"><img src="{{ "common/spacer.gif" | relative_url }}" width="40" height="15"></td></tr>
	<tr><td><img src="{{ "chrome/gadget-bottom.gif" | relative_url }}" width="181" height="15"></td></tr>

</table>